## Fastlane
*.mobileprovision
*.cer
*.ipa
*.certSigningRequest
*.dSYM.zip
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

## Bundler
vendor/bundle
.bundle

## Build generated
build/
.build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.p12
*.dropbox
rvm.env

## Obj-C/Swift specific
*.hmap
*.ipa

## Logs
simulator.log
xcodebuild.log
.DS_Store
